<%= content_for(:title, "Blog | VincentRotter") %>

<% if admin_signed_in? %>
  <%= render 'form' %>
<% end %>

<% if admin_signed_in? %>
  <% @wikis.order(created_at: :desc).each do |wiki| %>
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h1><%= link_to "#{wiki.title}", wiki_path(wiki) %>
            <%= link_to "Delete", wiki_path(wiki), method: "delete", data: {confirm: 'Delete post?'}, class: "btn btn-danger pull-right" %>

            <% if wiki.hidden? %>
              <%= form_for wiki do |f| %>
                <%= f.hidden_field :hidden, value: false %>
                <%= f.submit "Hidden", class: "btn btn-info pull-right" %>
              <% end %>
            <% else %>
              <%= form_for wiki do |f| %>
                <%= f.hidden_field :hidden, value: true %>
                <%= f.submit "Visible", class: "btn pull-right" %>
              <% end %>
            <% end %>

          </h1>
          <%= simple_format(wiki.body) %>
          <br>
          <p>» Posted: <em><%= time_ago_in_words(wiki.created_at) %> ago on <%= wiki.created_at.strftime('%B %d, %Y') %></em>&nbsp&nbsp »  Tags: <em>
            <% if wiki.tags.size == 0 %>
              none
            <% else %>
              <% wiki.tags.order(:name).each do |tag| %>
                <i class="text-success"> <%= tag.name %></i>
              <% end %>
            <% end %>
          </em> </p>
        </div>
      </div>
      <% wiki.comments.each do |comment| %>
        <div class="col-md-11 col-md-offset-1">
          <div class="panel panel-body"><h4><%= link_to "#{comment.name}", comment.url %></h4>
            <p><%= comment.response %></p>
            <p>» Posted: <em><%= time_ago_in_words(comment.created_at) %> ago on <%= comment.created_at.strftime('%B %d, %Y') %></em></p>
          </div>
        </div>
      <% end %>
    </div><br><br>
  <% end %>
<% else %>
  <% @visible_wikis.sort!{|a,b|b.created_at<=>a.created_at}.each do |wiki| %>
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h1><%= link_to "#{wiki.title}", wiki_path(wiki) %></h1>
          <%= simple_format(wiki.body) %>
          <br>
          <p>» Posted: <em><%= time_ago_in_words(wiki.created_at) %> ago on <%= wiki.created_at.strftime('%B %d, %Y') %></em>&nbsp&nbsp » Tags: <em>
            <% if wiki.tags.size == 0 %>
              none
            <% else %>
              <% wiki.tags.order(:name).each do |tag| %>
                <i class="text-success"> <%= tag.name %></i>
              <% end %>
            <% end %>
          </em> </p>
        </div>
      </div>
      <% wiki.comments.each do |comment| %>
        <div class="col-md-11 col-md-offset-1">
          <div class="panel panel-body"><h4><%= link_to "#{comment.name}", comment.url %></h4>
            <p><%= comment.response %></p>
            <p>» Posted: <em><%= time_ago_in_words(comment.created_at) %> ago on <%= comment.created_at.strftime('%B %d, %Y') %></em></p>
          </div>
        </div>
      <% end %>
    </div><br><br>
  <% end %>
<% end %>
