<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

      <% if admin_signed_in? %>
        <a class="navbar-brand bg-danger" href="/">Admin Mode</a>
      <% else %>
        <a class="navbar-brand" href="/">Vincent Rotter</a>
      <% end %>

      <ul class="nav navbar-nav">
        <li><%= link_to "Blog", wikis_path %></li>
        <!-- <li><a href="/">Current Projects **not working**</a></li> -->
        <!-- <li><a href="/">Leave Feedback **not working**</a></li> -->
        <% if admin_signed_in? %>
          <li><%= link_to "Tags", tags_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
          <li><%= link_to "Logout", destroy_admin_session_path, method: "delete"%></li>
        <% end %>

        <li><a class="icon" href="https://github.com/fencedin"><img src="/images/GitHub.png" alt="GitHub:fencedin" width="32px" height="32px"></a></li>
        <li><a class="icon" href="https://coderbits.com/fencedin"><img src="/images/coderbits.png" alt="coderbits:fencedin"  width="30px" height="30px" class=""></a></li>
        <li><a class="icon" href="https://twitter.com/fenced1n"><img src="/images/twitter.png" alt="twitter@fenced1n"></a></li>
        <li><a class="icon" href="https://www.linkedin.com/in/vincentrotter"><img src="/images/linkedin.png" alt="linkedin:vincentrotter" width="30px" height="30px"></a></li>
      </ul>

      <% if current_page?(wikis_path) %>
        <!-- <div class="col-lg-2 search navbar-right">
          <form class="navbar-form input-group" role="search">
            <input type="text" class="form-control" placeholder="Search **not working**">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Submit</button>
            </span>
          </form>
        </div> -->
      <% end %>

    </div>
  </nav>

  <div class="container">

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% elsif flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <footer class="footer">
      <div>© 2014 Vincent Rotter</div>
    </footer>

  </div>
</body>
</html>
